In [125]:
import pandas as pd 
import numpy as np
import logging
import warnings
from sklearn.preprocessing import StandardScaler

In [126]:
logger=logging.getLogger(__name__)
logger.setLevel(logging.INFO)
conole_handler=logging.StreamHandler()
file_handler=logging.FileHandler("/Users/debasishguru/Desktop/untitled folder/Next Project Hike 6/rossmann-store-sales/logging.log")
conole_handler.setLevel(logging.INFO)
file_handler.setLevel(logging.INFO)
format=logging.Formatter("%(asctime)s-%(levelname)s-%(message)s")
file_handler.setFormatter(format)
logger.addHandler(file_handler)
logger.info('This is a info message')

INFO:__main__:This is a info message

In [127]:
import warnings
warnings.filterwarnings("ignore")
logger.info("Loading the datasets")
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')
store_df=pd.read_csv('store.csv')

INFO:__main__:Loading the datasets

In [128]:
logger.info("Checking the null values foe each datasets")
print("Null values present in train_df:")
print(train_df.isnull().sum().sum())
print("Null values present in store_df")
print(store_df.isna().sum().sum())
print("Null valuees present in test_df")
print(test_df.isna().sum().sum())

INFO:__main__:Checking the null values foe each datasets

Null values present in train_df:
0
Null values present in store_df
2343
Null valuees present in test_df
11

In [129]:
logger.warning('Store_df and test_df has more nunber of null values ')
logger.info("Handling the null values for store_df and test_df")

WARNING:__main__:Store_df and test_df has more nunber of null values
INFO:__main__:Handling the null values for store_df and test_df

In [130]:
store_df.update(store_df["Promo2SinceWeek"].fillna(value=0,inplace=True))
store_df.update(store_df["Promo2SinceYear"].fillna(value=0,inplace=True))
store_df.update(store_df["PromoInterval"].fillna(value=0,inplace=True))

In [131]:
mean_CompetitionDistance=store_df["CompetitionDistance"].mean()
store_df.update(store_df["CompetitionDistance"].fillna(value=mean_CompetitionDistance,inplace=True))
mode_CompetitionOpenSinceMonth=store_df["CompetitionOpenSinceMonth"]=store_df['CompetitionOpenSinceMonth'].mode()[0]
mode_CompetitionOpenSinceYear=store_df["CompetitionOpenSinceYear"]=store_df["CompetitionOpenSinceYear"].mode()[0]
store_df.update(store_df["CompetitionOpenSinceMonth"].fillna(value=mode_CompetitionOpenSinceMonth,inplace=True))
store_df.update(store_df["CompetitionOpenSinceYear"].fillna(value=mode_CompetitionOpenSinceYear,inplace=True))

In [132]:
store_df.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [133]:
train_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [134]:
test_df.isnull().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [135]:
test_df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [136]:
mean_CompetitionDistance=test_df["Open"].mean()
test_df.update(test_df["Open"].fillna(value=mean_CompetitionDistance,inplace=True))
test_df.isna().sum()

Id               0
Store            0
DayOfWeek        0
Date             0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [137]:
logger.info('Sucessfully handled the null values for each data set ')
logger.info('Merge the datasets')
train_merged_df=pd.merge(train_df,store_df,on="Store")
test_merged_df=pd.merge(test_df,store_df,on='Store')

INFO:__main__:Sucessfully handled the null values for each data set
INFO:__main__:Merge the datasets

In [138]:
logger.info('Sucessfully merged the datasets')

INFO:__main__:Sucessfully merged the datasets

In [139]:
logger.info("Extract weekdays and weekends from the train and test merged dataset")
train_merged_df['Date']=pd.to_datetime(train_merged_df['Date'])
train_merged_df["WeekDays"]=train_merged_df['Date'].dt.dayofweek+1
train_merged_df['WeekEnds']=train_merged_df['WeekDays'].isin([6,7]).astype(int)

INFO:__main__:Extract weekdays and weekends from the train and test merged dataset

In [140]:
test_merged_df['Date']=pd.to_datetime(test_merged_df['Date'])
test_merged_df["WeekDays"]=test_merged_df['Date'].dt.dayofweek+1
test_merged_df['WeekEnds']=test_merged_df['WeekDays'].isin([6,7]).astype(int)

In [141]:
train_merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekDays,WeekEnds
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2013.0,0,0.0,0.0,0,5,0
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,9.0,2013.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",5,0
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,9.0,2013.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",5,0
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2013.0,0,0.0,0.0,0,5,0
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,9.0,2013.0,0,0.0,0.0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,9.0,2013.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2,0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,9.0,2013.0,0,0.0,0.0,0,2,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,9.0,2013.0,0,0.0,0.0,0,2,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,9.0,2013.0,0,0.0,0.0,0,2,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,9.0,2013.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2,0

In [142]:
logger.info('Extracting begining of the month , mid-month and end of the month ')
# Beginning of the month
train_merged_df.loc[:,"BeginningOfMonth"]=train_merged_df['Date'].dt.is_month_start.astype(int)
# Mid of the month
train_merged_df.loc[:,"MidOfMonth"]=((train_merged_df['Date'].dt.day>10)&(train_merged_df['Date'].dt.day<20)).astype(int)
# End of the month
train_merged_df.loc[:, 'EndOdMonth']=train_merged_df['Date'].dt.is_month_end.astype(int)

INFO:__main__:Extracting begining of the month , mid-month and end of the month

In [143]:
logger.info('Extracting begining of the month , mid-month and end of the month  for test_merged_df')
# Beginning of the month
test_merged_df.loc[:,"BeginningOfMonth"]=test_merged_df['Date'].dt.is_month_start.astype(int)
# Mid of the month
test_merged_df.loc[:,"MidOfMonth"]=((test_merged_df['Date'].dt.day>10)&(test_merged_df['Date'].dt.day<20)).astype(int)
# End of the month
test_merged_df.loc[:, 'EndOdMonth']=test_merged_df['Date'].dt.is_month_end.astype(int)

INFO:__main__:Extracting begining of the month , mid-month and end of the month  for test_merged_df

In [158]:
logger.info('Converting all categorical column value to numerical value')
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
train_merged_df["StateHoliday"]=train_merged_df["StateHoliday"].astype(str)
train_merged_df["PromoInterval"]=train_merged_df["PromoInterval"].astype(str)
train_merged_df['StateHoliday']=label_encoder.fit_transform(train_merged_df['StateHoliday'])
train_merged_df['StoreType']=label_encoder.fit_transform(train_merged_df['StoreType'])
train_merged_df['Assortment']=label_encoder.fit_transform(train_merged_df['Assortment'])
train_merged_df['PromoInterval']=label_encoder.fit_transform(train_merged_df['PromoInterval'])

INFO:__main__:Converting all categorical column value to numerical value

In [165]:
test_merged_df['StateHoliday']=test_merged_df['StateHoliday'].astype(str)
test_merged_df['PromoInterval']=test_merged_df['PromoInterval'].astype(str)
test_merged_df['StateHoliday']=label_encoder.fit_transform(test_merged_df['StateHoliday'])
test_merged_df['StoreType']=label_encoder.fit_transform(test_merged_df['StoreType'])
test_merged_df['Assortment']=label_encoder.fit_transform(test_merged_df['Assortment'])
test_merged_df['PromoInsterval']=label_encoder.fit_transform(test_merged_df['PromoInterval'])

In [166]:
train_merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekDays,WeekEnds,BeginningOfMonth,MidOfMonth,EndOdMonth
0,1,5,2015-07-31,-0.132683,-0.168269,1,1,0,1,2,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
1,2,5,2015-07-31,0.075373,-0.017540,1,1,0,1,0,...,2013.0,1,13.0,2010.0,2,5,0,0,0,1
2,3,5,2015-07-31,0.659800,0.404499,1,1,0,1,0,...,2013.0,1,14.0,2011.0,2,5,0,0,0,1
3,4,5,2015-07-31,2.135414,1.862258,1,1,0,1,2,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
4,5,5,2015-07-31,-0.247231,-0.159656,1,1,0,1,0,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,1,31.0,2013.0,2,2,0,1,0,0
1017205,1112,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,2,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017206,1113,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017207,1114,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017208,1115,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,3,...,2013.0,1,22.0,2012.0,3,2,0,1,0,0

In [167]:
test_merged_df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekDays,WeekEnds,BeginningOfMonth,MidOfMonth,EndOdMonth,PromoInsterval
0,1,1,4,2015-09-17,1.0,1,0,0,2,0,...,0,0.0,0.0,0,4,0,0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0,0,0,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",4,0,0,1,0,2
2,3,7,4,2015-09-17,1.0,1,0,0,0,2,...,0,0.0,0.0,0,4,0,0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0,0,0,...,0,0.0,0.0,0,4,0,0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0,0,2,...,0,0.0,0.0,0,4,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0,0,0,...,1,31.0,2013.0,"Jan,Apr,Jul,Oct",6,1,1,0,0,2
41084,41085,1112,6,2015-08-01,1.0,0,0,0,2,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0,0,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0,0,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1,3,2,...,1,22.0,2012.0,"Mar,Jun,Sept,Dec",6,1,1,0,0,3

In [159]:
logger.info("Sucessfully converted the categorical column to numerical both train_merged_df and test_merged_df")

INFO:__main__:Sucessfully converted the categorical column to numerical both train_merged_df and test_merged_df

In [160]:
logger.info('Scalling the columns in train_merged_df')

INFO:__main__:Scalling the columns in train_merged_df

In [163]:
columns_to_scaled=['Sales','Customers','CompetitionDistance']
scaler=StandardScaler()
scaler.fit(train_merged_df[columns_to_scaled])
train_merged_df[columns_to_scaled]=scaler.transform(train_merged_df[columns_to_scaled])
train_merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekDays,WeekEnds,BeginningOfMonth,MidOfMonth,EndOdMonth
0,1,5,2015-07-31,-0.132683,-0.168269,1,1,0,1,2,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
1,2,5,2015-07-31,0.075373,-0.017540,1,1,0,1,0,...,2013.0,1,13.0,2010.0,2,5,0,0,0,1
2,3,5,2015-07-31,0.659800,0.404499,1,1,0,1,0,...,2013.0,1,14.0,2011.0,2,5,0,0,0,1
3,4,5,2015-07-31,2.135414,1.862258,1,1,0,1,2,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
4,5,5,2015-07-31,-0.247231,-0.159656,1,1,0,1,0,...,2013.0,0,0.0,0.0,0,5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,1,31.0,2013.0,2,2,0,1,0,0
1017205,1112,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,2,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017206,1113,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017207,1114,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,0,...,2013.0,0,0.0,0.0,0,2,0,1,0,0
1017208,1115,2,2013-01-01,-1.499723,-1.363330,0,0,1,1,3,...,2013.0,1,22.0,2012.0,3,2,0,1,0,0

In [168]:
column_to_scaled_test=['CompetitionDistance']
scaler.fit(test_merged_df[column_to_scaled_test])
test_merged_df[column_to_scaled_test]=scaler.transform(test_merged_df[column_to_scaled_test])
test_merged_df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,WeekDays,WeekEnds,BeginningOfMonth,MidOfMonth,EndOdMonth,PromoInsterval
0,1,1,4,2015-09-17,1.0,1,0,0,2,0,...,0,0.0,0.0,0,4,0,0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0,0,0,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",4,0,0,1,0,2
2,3,7,4,2015-09-17,1.0,1,0,0,0,2,...,0,0.0,0.0,0,4,0,0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0,0,0,...,0,0.0,0.0,0,4,0,0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0,0,2,...,0,0.0,0.0,0,4,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0,0,0,...,1,31.0,2013.0,"Jan,Apr,Jul,Oct",6,1,1,0,0,2
41084,41085,1112,6,2015-08-01,1.0,0,0,0,2,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0,0,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0,0,2,...,0,0.0,0.0,0,6,1,1,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1,3,2,...,1,22.0,2012.0,"Mar,Jun,Sept,Dec",6,1,1,0,0,3

In [170]:
logger.info('Saviing the datasets')
train_merged_df.to_csv('train_cleaned_df.csv',index=False)
test_merged_df.to_csv('test_cleaned_df.csv',index=False)
logger.info('Datasets saved Successfully')

INFO:__main__:Saviing the datasets
INFO:__main__:Datasets saved Successfully